.prestation {
  display: flex;
  flex-direction: column;
  align-items: center;


  img {
    margin-top: 30px;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: solid 2px $color_border;
    object-fit: cover;
  }
}

.descript {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin: 30px 5px 0px 5px;
    color: $color_h1;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
  }
}

// grand ecran mobile
@media screen and (min-width:480px) {
  .prestation img {
    width: 200px;
    height: 200px;
  }
}

// version tablette
@media screen and (min-width:767px) {
  .prestation img {
    width: 220px;
    height: 220px;
  }

  .descript h1 {
    font-size: 18px;
  }
}

// version desktop full hd
@media screen and (min-width:1024px) {
  .prestation img {
    width: 250px;
    height: 250px;
  }
}

// version desktop large ecran 2k et plus
@media screen and (min-width:1920px) {
  .prestation img {
    width: 300px;
    height: 300px;
  }
}