@use '../../scss/variable.scss' as *;

.dispo_message {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 215px 0px 200px;

  h1 {
    color: $error_h1;
    font-size: 40px;
  }

  .dispo_btn {
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
      border: transparent;
      border-radius: 15px;
      width: 50%;
      height: 35px;
      color: $error_text_btn;
      background-color: $error_btn;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

// grand ecran mobile
@media screen and (min-width:480px) {
  .dispo_message {
    padding: 260px 0px 200px;

    h1 {
      font-size: 60px;
    }
  }
}

// version tablette
@media screen and (min-width:767px) {
  .dispo_message {
    padding: 350px 0px 200px;

    h1 {
      font-size: 90px;
    }
  }
}

// version desktop full hd
@media screen and (min-width:1024px) {
  .dispo_message {
    padding: 228px 0px 200px;

    h1 {
      font-size: 90px;
    }
  }
}

// version desktop 2k et plus
@media screen and (min-width:1920px) {
  .dispo_message {
    padding: 350px 0px 200px;

    h1 {
      font-size: 90px;
    }
  }
}