@use '../../scss/variable.scss' as *;

.structure {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 10px;

  .posi_button {
    button {
      width: 150px;
      height: 30px;
      border-radius: 10px;
      border: solid 2px $boder_button;
      background-color: $color_button;
      color: $button_text;
      margin: 15px 0px 0px 10px;

      &:hover {
        cursor: pointer;
      }

      i {
        padding-right: 6px;
      }
    }
  }
}

.container_card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin: 50px 0px 70px;

  .card {
    width: 300px;
    height: 370px;
    background: $degrader_main;
    border-radius: 42px 42px 10px 10px;
    border-bottom: solid 7.4px #291F43;
    transform: scale(0.85);
    // background: $degrader_main;
    // Agrandit pour un effet de déplacement fluide
    background-size: 180% 180%;
    // Lance l'animation
    animation: gradientAnimation 1.2s ease infinite;
  }

  img {
    width: 300px;
    height: 180px;
    border-radius: 40px 40px 0px 0px;
    border-bottom: solid 2px #473876;
  }

  h3 {
    margin: 10px 0px 0px;
    text-align: center;
    color: #fff;
  }

  p {
    margin: 10px 0px 0px;
    padding: 0px 5px 0px;
    text-align: center;
    color: #fff;
  }

  .dispo_button {
    display: flex;
    justify-content: center;

    button {
      width: 150px;
      height: 30px;
      margin: 20px 0px 0px;
      border: transparent;
      border-radius: 10px;
      background: $color_button;
      color: $button_text;
      cursor: pointer;
    }
  }
}

// grand ecran mobile
// @media screen and (min-width:480px) {}

// version tablette
// @media screen and (min-width:767px) {}

// version desktop full hd
// @media screen and (min-width:1024px) {}

// version desktop 2k et plus
@media screen and (min-width:1920px) {
  .container_card {
    margin: 300px 0px 335px;
  }
}