@use '../../scss/variable.scss' as *;

.structure {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;

  img {
    object-fit: cover;
    object-position: top center;
  }

  .posi_button {

    button {
      height: 30px;
      border: transparent;
      border-radius: 10px;
      background-color: $color_button;
      color: $button_text;
      border: solid 2px $boder_button;

      &:hover {
        cursor: pointer;
      }

      i {
        margin-right: 5px;
      }
    }
  }

  .posi_div_princial {
    display: flex;

    img {
      width: 100%;
      height: 200px;
      border-radius: 5px;
    }
  }

  .posi_div_secondaire {
    display: flex;
    gap: 10px;

    img {
      width: 48%;
      height: 200px;
      border-radius: 5px;
    }
  }

  .dispo_information {
    text-align: center;
    color: $color_text;

    p {
      font-size: 15px;
    }
  }

  .posi_techno {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .posi_btn {
    display: flex;
    justify-content: flex-end;
    padding-top: 30px;

    button {
      border: transparent;
      border-radius: 10px;
      height: 30px;
      background-color: $color_button;
      color: $button_text;
      border: solid 2px $boder_button;

      &:hover {
        cursor: pointer;
      }

      .fa-github {
        margin-right: 5px;
        font-size: 15px;

      }

      i {
        margin-left: 5px;
      }
    }
  }
}

// grand ecran mobile
@media screen and (min-width:480px) {
  .structure {
    padding: 20px;

    .posi_div_secondaire img {
      width: 49%;
    }
  }
}

// version tablette
@media screen and (min-width:767px) {
  .structure {
    .posi_div_princial img {
      width: 100%;
      height: 300px;
    }

    .posi_div_secondaire {
      img {
        width: 50%;
        height: 250px;
      }
    }

    .dispo_information p {
      font-size: 18px;
    }
  }
}

// version desktop full hd
@media screen and (min-width:1024px) {
  .structure {
    .posi_div_princial img {
      width: 99%;
      height: 400px;
    }

    .posi_div_secondaire {
      img {
        width: 49%;
        height: 400px;
      }
    }
  }
}

// version desktop 2k et plus
@media screen and (min-width:1920px) {
  .structure {
    .posi_div_princial img {
      width: 100%;
      height: 600px;
    }

    .posi_div_secondaire {
      img {
        width: 50%;
        height: 600px;
      }
    }
  }
}