.project {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    margin-top: 50px;
    color: $color_text;
  }

  .posi_projects {
    display: flex;
    flex-direction: column;

    img {
      width: 250px;
      height: 150px;
      border-radius: 5px;
      border: solid 2px $color_border;
      object-fit: cover;
    }

    .posi_button {
      display: flex;
      justify-content: center;

      button {
        position: relative;
        bottom: 50px;
        border-radius: 5px;
        padding: 5px 10px;
        height: 35px;
        border: transparent;
        background-color: $color_button;
        color: $color_text;

        &:hover {
          cursor: pointer;
        }

        .fa-arrow-up-right-from-square {
          margin-left: 5px;
        }
      }
    }
  }

  .posi_QR {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    padding-top: 30px;

    p {
      margin: 0;
      color: $color_text;
      font-size: 14px;
    }
  }
}

// grand ecran mobile
@media screen and (min-width:480px) {
  .project .posi_projects img {
    width: 400px;
    height: 200px;
  }
}

// version tablette
@media screen and (min-width:767px) {
  .project .posi_projects {
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;

    img {
      width: 240px;
      height: 150px;
    }
  }
}


// version desktop full hd
@media screen and (min-width:1024px) {
  .project .posi_projects {

    img {
      width: 320px;
      height: 150px;
    }
  }
}

//version desktop large ecran 2k et plus
@media screen and (min-width:1920px) {
  .project .posi_projects {
    gap: 20px;

    img {
      width: 500px;
      height: 232px;
    }
  }

  .project .posi_QR {
    padding-top: 100px;
  }
}