body {
  margin: 0px;
  background-color: $color_body;

  header {
    width: 100%;
    border-bottom: solid 1px #E796F3;
  }
}

// version tablette
// @media screen and (min-width:767px) {}

// version desktop
// @media screen and (min-width:1024px) {}