footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 150px;
  border-top: solid 2px $color_border;
  background-color: $color_footer;
  margin-top: 30px;

  .dispo_coordonnee {
    position: absolute;
    padding: 0px 0px 30px 15px;

    h3 {
      color: $color_h3;
      margin-top: 10px;
      margin-bottom: 20px;
    }

    i {
      margin: 0px;
      color: $color_link;
    }

    .phone {

      p {
        position: relative;
        left: 30px;
        bottom: 20px;
        color: $color_link;
        margin: 0;
      }

      .fa-eye {
        position: absolute;
        top: 56px;
        right: 30px;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .mail {
      :hover {
        cursor: pointer;
        text-decoration: underline;
      }

      a {
        position: relative;
        left: 10px;
        bottom: 2px;
        color: $color_link;
        margin: 0;
      }
    }
  }

  .dispo_button {
    display: flex;
    flex-direction: column;
    gap: 10px;

    button {
      position: relative;
      bottom: 25px;
      left: 240px;
      width: 40%;
      height: 30px;
      border-radius: 10px;
      border: solid 2px $color_border;
      background-color: $button_footer;
      color: $button_text;

      &:hover {
        cursor: pointer;
      }

      i {
        margin-right: 10px;
      }

      .fa-solid {
        margin-left: 10px;
      }
    }
  }
}


// version tablette
@media screen and (min-width:767px) {
  footer {
    .dispo_coordonnee {
      padding: 0px 10px 30px 80px;
    }

    .dispo_button {
      button {
        left: 380px;
      }
    }

    .phone {
      .fa-eye {
        right: 40px;
      }
    }
  }
}


// version desktop
@media screen and (min-width:1024px) {
  footer {
    margin-top: 110px;

    .dispo_coordonnee {
      padding: 0px 10px 30px 150px;
    }

    .dispo_button {
      align-items: center;

      button {
        left: 240px;
      }
    }
  }
}